@import './tools/triangle';
@import './components/btn';
@import './components/card';
@import './components/flyout';
@import './components/form-input';
@import './components/icon';
@import './components/label';
@import './components/modal';
@import './components/navbar';
@import './components/search';
@import './components/select';
@import './components/tabs';
@import './components/text-input';
