@if $nb-use-card {
  .#{$nb-namespace}c-card {
    @include nb-card;
  }
}

@if $nb-use-status-card {
  $nb-status-card-padding: ($nb-spacing-unit-half / 2);

  .#{$nb-namespace}c-status-card {
    @include nb-card;
    padding: 0;
  }

  .#{$nb-namespace}c-status-card__component {
    padding: $nb-status-card-padding;
  }

  .#{$nb-namespace}c-status-card__body {
    padding: $nb-spacing-unit;
  }

  .#{$nb-namespace}c-status-card--success {
    background-color: $nb-color-success;
  }

  .#{$nb-namespace}c-status-card--info {
    background-color: $nb-color-info;
  }

  .#{$nb-namespace}c-status-card--warning {
    background-color: $nb-color-warning;
  }

  .#{$nb-namespace}c-status-card--error {
    background-color: $nb-color-error;
  }
}

