@if $nb-use-form-input {
  .#{$nb-namespace}c-form-input {
    position: relative;
    display: inline-block;
    font-family: $nb-form-input-font-family;
    font-weight: $nb-form-input-font-weight;
  }

  .#{$nb-namespace}c-form-input__input {
    @include nb-visually-hidden;
  }

  .#{$nb-namespace}c-form-input__label {
    display: inline-block;
    padding-left: calc(#{$nb-form-input-icon-size} + #{$nb-spacing-unit-half});

    &::before,
    &::after {

      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
    }

    &::before {
      @include center-icon($nb-form-input-icon-size);

      width: $nb-form-input-icon-size;
      height: $nb-form-input-icon-size;
      background: $nb-form-input-background;
      border: 1px solid $nb-form-input-border-color;
    }

    &::after {
      width: $nb-form-input-icon-size * 1.7;
      height: $nb-form-input-icon-size * 1.7;
      transform: translate(-12.5%, -12.5%);
    }
  }

  .#{$nb-namespace}c-form-input__input:focus + .#{$nb-namespace}c-form-input__label::before {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }

  .#{$nb-namespace}c-form-input__label--radio::before {
    border-radius: 50%;
  }

  .#{$nb-namespace}c-form-input__label--checkbox::before {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .#{$nb-namespace}c-form-input__input:disabled + .#{$nb-namespace}c-form-input__label::before {
    background-color: $nb-color-background-disabled;
  }

  .#{$nb-namespace}c-form-input__input:checked + .#{$nb-namespace}c-form-input__label::before {
    background-color: $nb-form-input-highlight-color;
    transition: background-color $nb-transition-duration;
  }

  .#{$nb-namespace}c-form-input__input:checked + .#{$nb-namespace}c-form-input__label--checkbox::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ibG4tYy1pY29uIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OTAuNDM0IiBoZWlnaHQ9IjQ5MC40MzMiIHZpZXdCb3g9IjAgMCA0OTAuNDM0IDQ5MC40MzMiIGZpbGw9IiNmZmZmZmYiID48cGF0aCBkPSJNNDcyLjAwMyA1OC4zNkw0NTguODcgNDcuMDc4Yy0yMS43OTctMTguNzMyLTU0LjU1My0xNi42NDQtNzMuNzk4IDQuNjk3TDE2NS4zOSAyOTUuMzZsLTY2LjMxMi01Ny4xMTNjLTIxLjc3NS0xOC43NTMtNTQuNTM2LTE2LjcwNy03My44MDQgNC42MWwtMTEuNjEgMTIuODVDNC4yNDYgMjY2LjExOC0uNjQzIDI3OS44NTQuMDY3IDI5My44ODZjLjcxNyAxNC4wMjIgNi45NzMgMjcuMTg3IDE3LjQwMiAzNi42bDEyMS41NTMgMTExLjMxYzEwLjUyNCA5Ljg4MyAyNC42MjggMTUuMDM3IDM5LjA0NCAxNC4yNzIgMTQuNDE2LS43NjQgMjcuODk0LTcuMzg3IDM3LjMxLTE4LjMzbDI2Mi4yNDYtMzA0LjcxYzkuMTYyLTEwLjY0NiAxMy43MTctMjQuNDk0IDEyLjY2LTM4LjQ5Ni0xLjA1NC0xNC4wMTItNy42MjgtMjcuMDIyLTE4LjI4LTM2LjE3NHoiIC8+PC9zdmc+');
    background-color: $nb-form-input-highlight-color;
    border-color: $nb-form-input-highlight-color;
    transition: background-color $nb-transition-duration;
  }

  .#{$nb-namespace}c-form-input__input:checked + .#{$nb-namespace}c-form-input__label--radio::before {
    box-shadow: inset 0 0 0 3px $nb-form-input-background;
  }

  .#{$nb-namespace}c-form-input__input:disabled + .#{$nb-namespace}c-form-input__label {
    cursor: not-allowed;
  }

  .#{$nb-namespace}c-form-input__input:checked:disabled + .#{$nb-namespace}c-form-input__label::before {
    opacity: 0.6;
  }
}
