@if $nb-use-icon {
  .#{$nb-namespace}c-icon {
    display: inline-block;
  }

  .#{$nb-namespace}c-icon__svg {
    $icon-size: 1em;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    max-width: 100%;
    vertical-align: middle;
    fill: currentColor;
  }

  .#{$nb-namespace}c-icon__svg--left {
    margin-right: $nb-spacing-unit-half;
  }

  .#{$nb-namespace}c-icon__svg--right {
    margin-left: $nb-spacing-unit-half;
  }
}
