@mixin nb-link-list-spacing {
  $class: 'link-list';
  $modifier: '--spaced';
  @each $key, $value in $nb-list-spacing {
    $compound-class: '#{$nb-namespace}c-#{$class}#{$modifier}-#{$key}';
    $computed-value: ($value / 2);

    .#{$compound-class} .#{$nb-namespace}c-#{$class}__link,
    .#{$compound-class} .#{$nb-namespace}c-#{$class}__content {
      padding: $computed-value;
    }

    .#{$compound-class} .#{$nb-namespace}c-#{$class}__group {
      padding-top: $computed-value;
      padding-bottom: $computed-value;
    }

    @each $bp-key, $bp-value in $nb-breakpoints {
      @include nb-respond-to($bp-key) {
        .#{$compound-class}#{$nb-breakpoint-class}#{$bp-key} .#{$nb-namespace}c-#{$class}__link {
          padding: $computed-value;
        }

        .#{$compound-class}#{$nb-breakpoint-class}#{$bp-key} .#{$nb-namespace}c-#{$class}__group {
          padding-top: $computed-value;
          padding-bottom: $computed-value;
        }
      }
    }
  }
}

@if $nb-use-link-list {
  .#{$nb-namespace}c-link-list,
  .#{$nb-namespace}c-link-list__group {
    @include nb-bare-list;
  }

  .#{$nb-namespace}c-link-list__group--divider {
    border-bottom: 1px solid $nb-color-base-border;
  }

  .#{$nb-namespace}c-link-list__link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      color: $nb-color-white;
      background: $nb-color-alpha;
    }
  }

  .#{$nb-namespace}c-link-list__link.is-active {
    color: $nb-color-white;
    background-color: $nb-color-alpha;
  }

  @include nb-link-list-spacing;

  .#{$nb-namespace}c-link-list__item:first-child > .#{$nb-namespace}c-link-list__group {
    padding-top: 0;
  }

  .#{$nb-namespace}c-link-list__item:last-child > .#{$nb-namespace}c-link-list__group {
    padding-bottom: 0;
  }
}
