@if $nb-use-modal {
  .#{$nb-namespace}c-modal {
    position: relative;
    z-index: 5;
  }

  .#{$nb-namespace}c-modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: rgba($nb-color-black, 0.75);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  .#{$nb-namespace}c-modal.is-open > .#{$nb-namespace}c-modal__overlay {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: opacity $nb-transition-duration;
    cursor: default;
  }

  .#{$nb-namespace}c-modal__body {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0;
    width: 600px;
    max-width: 100%;
    padding-left: $nb-spacing-unit;
    padding-right: $nb-spacing-unit;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.75);
    backface-visibility: hidden;
  }

  .#{$nb-namespace}c-modal--align-top .#{$nb-namespace}c-modal__body {
    transform: translate(-50%, 0) scale(0.75);
    top: $nb-spacing-unit;
  }

  .#{$nb-namespace}c-modal.is-open .#{$nb-namespace}c-modal__body {
    transform: translate(-50%, -50%) scale(1);
    height: auto;
    opacity: 1;
    transition: transform ($nb-transition-duration * 1.5) ($nb-transition-duration /1.5), opacity ($nb-transition-duration * 2) ($nb-transition-duration / 2);
  }

  .#{$nb-namespace}c-modal--align-top.is-open .#{$nb-namespace}c-modal__body {
    transform: translate(-50%, 0) scale(1);
  }

  .#{$nb-namespace}c-modal__content {
    position: relative;
    max-height: calc(100vh - (#{$nb-spacing-unit * 2}));
    overflow-y: auto;
    padding: 40px $nb-spacing-unit $nb-spacing-unit;
    background: $nb-color-site-background;
  }

  .#{$nb-namespace}c-modal__dismiss {
    $size: 40px;

    position: absolute;
    top: 0;
    right: 0;
    height: $size;
    padding-right: calc(#{$size} + #{$nb-spacing-unit-half});
    background: transparent;

    &::after {

      position: absolute;
      width: $size;
      height: $size;
      content: ' ';
      top: 0;
      right: 0;
      background-color: $nb-color-black;
      @include nb-input-icon(center, 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDEuNzU2IDQxLjc1NiI+PHBhdGggZD0iTTI3Ljk0OCAyMC44NzhMNDAuMjkgOC41MzZjMS45NTQtMS45NTMgMS45NTQtNS4xMiAwLTcuMDctMS45NS0xLjk1My01LjExOC0xLjk1My03LjA3IDBMMjAuODggMTMuODA4IDguNTM1IDEuNDY0Yy0xLjk1LTEuOTUyLTUuMTItMS45NTItNy4wNyAwLTEuOTUzIDEuOTUzLTEuOTUzIDUuMTIgMCA3LjA3TDEzLjgwNyAyMC44OCAxLjQ2NSAzMy4yMmMtMS45NTMgMS45NTMtMS45NTMgNS4xMiAwIDcuMDcuOTc1Ljk3OCAyLjI1NiAxLjQ2NSAzLjUzNSAxLjQ2NSAxLjI3OCAwIDIuNTYtLjQ4NyAzLjUzNS0xLjQ2NGwxMi4zNDMtMTIuMzRMMzMuMjIgNDAuMjljLjk3Ny45NzcgMi4yNTcgMS40NjQgMy41MzYgMS40NjRzMi41Ni0uNDg3IDMuNTM1LTEuNDY0YzEuOTU0LTEuOTUzIDEuOTU0LTUuMTIgMC03LjA3TDI3Ljk1IDIwLjg3N3oiIGZpbGw9IiNGRkYiLz48L3N2Zz4=', 1);
    }

    &.c-btn--sm {
      padding-right: ($nb-spacing-unit-double * 1.7); // To accommodate button text
    }
  }
}
