$nb-navbar-item-spacing: ≈ !default;
$nb-navbar-height: 60px !default;
$nb-navbar-height-collapsed: 50px !default;
$nb-navbar-sticky: true !default;
$nb-navbar-background-color: $nb-color-white !default;
$nb-navbar-dropdown-min-width: 250px !default;

.#{$nb-namespace}c-navbar {
  @if $nb-navbar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  } @else {
    position: relative;
  }

  height: $nb-navbar-height-collapsed;
  line-height: $nb-navbar-height-collapsed;
  background-color: $nb-navbar-background-color;

  @include nb-respond-to($nb-nav-bp-key) {
    height: $nb-navbar-height;
    line-height: $nb-navbar-height;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    height: 1px;
    background-color: $nb-color-base-border;
    clear: both;
    content: ' ';
  }
}

.#{$nb-namespace}c-navbar__overlay {
  @include nb-respond-to('max-#{$nb-nav-bp-key}') {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background: rgba($nb-color-black, 0.75);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    content: ' ';
  }

  @include nb-respond-to($nb-nav-bp-key) {
    display: none;
  }
}

.#{$nb-namespace}c-navbar.is-open .#{$nb-namespace}c-navbar__overlay {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: opacity $nb-transition-duration;
}

.#{$nb-namespace}c-navbar__wrap {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: $nb-site-wrap-width;
  margin: 0 auto;

  @include nb-respond-to($nb-nav-bp-key) {
    max-width: ($nb-site-wrap-width + ($nb-spacing-unit * 2));
    padding-left: $nb-spacing-unit;
    padding-right: $nb-spacing-unit;
  }
}

.#{$nb-namespace}c-navbar__logo {
  display: block;
  float: left;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.#{$nb-namespace}c-navbar__nav {
  margin: 0;
  padding: 0;
  list-style: none;

  @include nb-respond-to($nb-nav-bp-key) {
    float: left;
  }

  @include nb-respond-to('max-#{$nb-nav-bp-key}') {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 500px;
    background: $nb-color-white;
    transform: translateX(-100%);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: $nb-navbar-background-color;
      border-right: 1px solid $nb-color-base-border;
      content: ' ';
    }
  }
}

.#{$nb-namespace}c-navbar.is-open .#{$nb-namespace}c-navbar__nav {
  transform: translateX(0);
  transition: transform $nb-transition-duration;
}

.#{$nb-namespace}c-navbar__item {
  position: relative;
  z-index: 1;

  @include nb-respond-to($nb-nav-bp-key) {
    float: left;
  }

  @include nb-respond-to('max-#{$nb-nav-bp-key}') {
    background-color: $nb-navbar-background-color;
  }
}

.#{$nb-namespace}c-navbar__link,
.#{$nb-namespace}c-navbar__dropdown-toggle {
  display: block;
  padding-left: $nb-navbar-item-spacing;
  padding-right: $nb-navbar-item-spacing;
  background: $nb-navbar-background-color;

  @include nb-respond-to($nb-nav-bp-key) {
    margin-left: ($nb-navbar-item-spacing / 2);
    padding-left: ($nb-navbar-item-spacing / 2);
    padding-right: ($nb-navbar-item-spacing / 2);
  }
}



// DROPDOWN
.#{$nb-namespace}c-navbar__dropdown-toggle {
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 1;
}

.#{$nb-namespace}c-navbar__item.is-open > .#{$nb-namespace}c-navbar__dropdown-toggle {
  //background-color: red;
}

.#{$nb-namespace}c-navbar__dropdown {
  min-width: $nb-navbar-dropdown-min-width;
  margin: 0;
  list-style: none;

  @include nb-respond-to($nb-nav-bp-key) {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    border-width: 0;
    border-style: solid;
    border-color: $nb-color-base-border;
    transform: translateY(-100%);
  }

  @include nb-respond-to('max-#{$nb-nav-bp-key}') {
    display: none;
  }
}

.#{$nb-namespace}c-navbar__item.is-open > .#{$nb-namespace}c-navbar__dropdown {
  transform: translateY(0);
  transition: transform $nb-transition-duration;
  border-width: 0 1px 1px;

  @include nb-respond-to('max-#{$nb-nav-bp-key}') {
    display: block;
  }
}

.#{$nb-namespace}c-navbar__dropdown .#{$nb-namespace}c-navbar__item {
  float: none;
  margin: 0;
}

.#{$nb-namespace}c-navbar__dropdown .#{$nb-namespace}c-navbar__link {
  margin: 0;
}


// TOGGLE
$burger-width: 24px;
$burger-height: 3px;

.#{$nb-namespace}c-navbar__toggle {
  position: relative;
  display: block;
  float: left;
  width: $nb-navbar-height-collapsed;
  height: 100%;
  background-color: transparent;

  @include nb-respond-to($nb-nav-bp-key) {
    display: none;
  }
}

$burger-width: 24px;
$burger-height: 3px;

.#{$nb-namespace}c-navbar__toggle span,
.#{$nb-namespace}c-navbar__toggle span::before,
.#{$nb-namespace}c-navbar__toggle span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $burger-width;
  height: $burger-height;
  margin-top: -($burger-height * 0.5);
  margin-left: -($burger-width * 0.5);
  background: $nb-color-black;
  transition: all $nb-transition-duration;
  content: ' ';
}

.#{$nb-namespace}c-navbar__toggle span::before {
  transform: translateY(-($burger-height * 2));
}

.#{$nb-namespace}c-navbar__toggle span::after {
  transform: translateY(($burger-height * 2));
}

.#{$nb-namespace}c-navbar.is-open .#{$nb-namespace}c-navbar__toggle span {
  $rotation: 45deg;
  transform: rotate(-$rotation);
  background: transparent;

  &::before {
    transform: translateY(0);
  }

  &::after {
    transform: rotate($rotation * 2);
  }
}
