@if $nb-use-pills {
  @mixin pill-theme($bg: $nb-color-white, $txt: $nb-color-base-text) {
    color: $txt;
    background-color: $bg;
    border-color: $bg;
    box-shadow: none;
  }

  @mixin themed-pill-active($bg, $darkenAmmount: 10%) {
    &:hover,
    &:focus,
    &.is-active {
      color: $nb-color-white;
      background-color: darken($bg, $darkenAmmount);
      border-color: darken($bg, $darkenAmmount);
    }
  }

  .#{$nb-namespace}c-pill {
    display: inline-block;
    padding: ($nb-spacing-unit-half / 2) $nb-spacing-unit-half;
    border: 1px solid $nb-color-base-border;
    border-radius: $nb-button-border-radius;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
  }

  .#{$nb-namespace}c-pill:not([class*='--']).is-active {
    box-shadow: 0 0 0 ($nb-active-border-width / 2) $nb-color-alpha inset;
  }

  .#{$nb-namespace}c-pill[disabled] {
    @include pill-theme($nb-color-grey-v-light, $nb-color-grey);
    cursor: not-allowed;
  }

  .#{$nb-namespace}c-pill--success {
    @include pill-theme($nb-color-success, $nb-color-white);
  }

  a.#{$nb-namespace}c-pill--success,
  button.#{$nb-namespace}c-pill--success {
    @include themed-pill-active($nb-color-success);
  }

  .#{$nb-namespace}c-pill--info {
    @include pill-theme($nb-color-info, $nb-color-white);
  }

  a.#{$nb-namespace}c-pill--info,
  button.#{$nb-namespace}c-pill--info {
    @include themed-pill-active($nb-color-info);
  }

  .#{$nb-namespace}c-pill--warning {
    @include pill-theme($nb-color-warning, $nb-color-white);
  }

  a.#{$nb-namespace}c-pill--warning,
  button.#{$nb-namespace}c-pill--warning {
    @include themed-pill-active($nb-color-warning);
  }

  .#{$nb-namespace}c-pill--error {
    @include pill-theme($nb-color-error, $nb-color-white);
  }

  a.#{$nb-namespace}c-pill--error,
  button.#{$nb-namespace}c-pill--error {
    @include themed-pill-active($nb-color-error, 17%);
  }
}
