@if $nb-use-table {
  .#{$nb-namespace}c-table-container {
    overflow: auto;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $nb-color-grey-light;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background: $nb-color-grey;
    }
  }

  .#{$nb-namespace}c-table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    border: $nb-table-borders;
  }

  .#{$nb-namespace}c-table__header {
    border-bottom: $nb-table-borders;
    background-color: $nb-color-white;
  }

  .#{$nb-namespace}c-table__header-row + .#{$nb-namespace}c-table__header-row {
    border-top: $nb-table-borders;
  }

  .#{$nb-namespace}c-table__row:not(.#{$nb-namespace}c-table__header-row):nth-child(even) {
    background-color: $nb-color-grey-v-light;
  }

  .#{$nb-namespace}c-table__row:nth-child(odd) {
    background-color: $nb-color-white;
  }

  .#{$nb-namespace}c-table__header--hover-row-highlight,
  .#{$nb-namespace}c-table__body--hover-row-highlight {
    > .#{$nb-namespace}c-table__row:hover,
    > .#{$nb-namespace}c-table__row:focus {
      background-color: $nb-table-hover-background;
    }
  }

  .#{$nb-namespace}c-table__cell,
  .#{$nb-namespace}c-table__header-cell {
    vertical-align: middle;
    text-align: left;
  }

  .#{$nb-namespace}c-table__header-cell {
    position: relative;
  }

  .#{$nb-namespace}c-table__cell + .#{$nb-namespace}c-table__cell,
  .#{$nb-namespace}c-table__header-cell + .#{$nb-namespace}c-table__header-cell {
    border-left: $nb-table-borders;
  }

  .#{$nb-namespace}c-table__sort-button {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    background: transparent;
    color: $nb-color-base-text;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }
  }

  .#{$nb-namespace}c-table__footer {
    border-left: $nb-table-borders;
    border-right: $nb-table-borders;
    border-bottom: $nb-table-borders;
    background: $nb-color-white;
  }

  @each $key, $value in $nb-table-spacing-map {
    .#{$nb-namespace}c-table--spacing-#{$key} {
      .#{$nb-namespace}c-table__cell,
      .#{$nb-namespace}c-table__header-cell {
        padding: $value;

        @include nb-respond-to('max-sm') {
          padding-left: $nb-table-spacing;
          padding-right: $nb-table-spacing;
        }
      }

      + .#{$nb-namespace}c-table__footer {
        padding: $value;
      }

      .#{$nb-namespace}c-table__cell > a {
        display: inline-block;
        // Creating a larger hit area for improved touch-UX
        margin-top: -$value;
        margin-bottom: -$value;
        padding-top: $value;
        padding-bottom: $value;
      }

      .#{$nb-namespace}c-table__sort-button {
        padding: $value;

        @include nb-respond-to('max-sm') {
          padding-left: $value;
          padding-right: $value;
        }
      }
    }
  }

  .#{$nb-namespace}c-table--sorted .#{$nb-namespace}c-table__header-cell--sortable {
    padding: 0;
  }

  .#{$nb-namespace}c-table__sort-text {
    vertical-align: middle;

    &::after {
      $size: 16px;
      display: inline-block;
      width: $size;
      height: $size;
      margin-left: $nb-table-spacing;
      vertical-align: middle;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg3IiBoZWlnaHQ9IjIzOCIgdmlld0JveD0iMzA0IC0xMSAxODcgMjM4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiNiOGI4YjgiIGQ9Ik0zOTcuNjcyIDIyNi4zNzNjLTIuNzUyIDAtNS40OTMtMS4wNDQtNy41OTMtMy4xMzhMMzA4LjE0MyAxNDEuM2MtNC4xOTQtNC4xOTgtNC4xOTQtMTAuOTkgMC0xNS4xOCA0LjE5NC00LjE5OCAxMC45ODctNC4xOTggMTUuMTggMGw3NC4zNDcgNzQuMzQyIDc0LjM0OC03NC4zNGM0LjE5My00LjIgMTAuOTg2LTQuMiAxNS4xOCAwIDQuMTkzIDQuMTkzIDQuMTkzIDEwLjk4IDAgMTUuMThsLTgxLjk0IDgxLjkzM2MtMi4wOTQgMi4wOTQtNC44NCAzLjEzOC03LjU4OCAzLjEzOGguMDAyek0zOTcuMzI4LTEwLjM3M2MyLjc1MiAwIDUuNDkzIDEuMDQ0IDcuNTkzIDMuMTM4TDQ4Ni44NTcgNzQuN2M0LjE5NCA0LjE5OCA0LjE5NCAxMC45OSAwIDE1LjE4LTQuMTk0IDQuMTk4LTEwLjk4NyA0LjE5OC0xNS4xOCAwTDM5Ny4zMyAxNS41MzhsLTc0LjM0OCA3NC4zNGMtNC4xOTMgNC4yLTEwLjk4NiA0LjItMTUuMTggMC00LjE5My00LjE5My00LjE5My0xMC45OCAwLTE1LjE4bDgxLjk0LTgxLjkzM2MyLjA5NC0yLjA5NCA0Ljg0LTMuMTM4IDcuNTg4LTMuMTM4aC0uMDAyeiIvPjwvc3ZnPg==');
      content: ' ';
    }
  }

  .#{$nb-namespace}c-table__sort-button.is-active .#{$nb-namespace}c-table__sort-text::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODUuMzQ0IiBoZWlnaHQ9IjE4NS4zNDQiIHZpZXdCb3g9IjAgMCAxODUuMzQ0IDE4NS4zNDQiPjxwYXRoIGZpbGw9IiMxNjE2MTYiIGQ9Ik05Mi42NzIgMTQ0LjM3M2MtMi43NTIgMC01LjQ5My0xLjA0NC03LjU5My0zLjEzOEwzLjE0NCA1OS4zYy00LjE5NC00LjE5OC00LjE5NC0xMC45OSAwLTE1LjE4IDQuMTk0LTQuMTk4IDEwLjk4Ny00LjE5OCAxNS4xOCAwbDc0LjM0NyA3NC4zNDIgNzQuMzQ3LTc0LjM0YzQuMTkzLTQuMiAxMC45ODYtNC4yIDE1LjE4IDAgNC4xOTMgNC4xOTMgNC4xOTMgMTAuOTggMCAxNS4xOGwtODEuOTQgODEuOTMzYy0yLjA5NCAyLjA5NC00Ljg0IDMuMTM4LTcuNTg4IDMuMTM4eiIvPjwvc3ZnPg==');
    transform: rotate(180deg) scale(0.9);
  }

  .#{$nb-namespace}c-table__sort-button.is-descending .#{$nb-namespace}c-table__sort-text::after {
    transform: scale(0.9);
  }

  /* Reason for disable @Each and nested MQ, */
  /* stylelint-disable max-nesting-depth  */
  @each $key, $value in $nb-table-collapse-breakpoints {
    @include nb-respond-to('max-#{$key}', $nb-table-collapse-breakpoints) {
      .#{$nb-namespace}c-table--stack\@max-#{$key} {
        &.#{$nb-namespace}c-table,
        .#{$nb-namespace}c-table__header,
        .#{$nb-namespace}c-table__body,
        .#{$nb-namespace}c-table__row,
        .#{$nb-namespace}c-table__cell {
          display: block;
        }

        @media all and (min-width:0\0) {
          .#{$nb-namespace}c-table__cell {
            // MQ targets IE9.
            width: 100%;
            float: left;
          }

          .#{$nb-namespace}c-table__header-cell {
            // MQ targets IE9.
            float: left;
          }
        }
      }

      @each $spacing-key, $spacing-value in $nb-table-spacing-map {
        .#{$nb-namespace}c-table--spacing-#{$spacing-key}.#{$nb-namespace}c-table--stack\@max-#{$key} {
          .#{$nb-namespace}c-table__row {
            padding: ($spacing-value / 2) 0;
          }

          .#{$nb-namespace}c-table__cell,
          .#{$nb-namespace}c-table__header-cell {
            padding-top: ($spacing-value / 2);
            padding-bottom: ($spacing-value / 2);
          }
        }
      }

      .#{$nb-namespace}c-table--stack\@max-#{$key} {
        .#{$nb-namespace}c-table__header-cell:not(.#{$nb-namespace}c-table__header-cell--sortable),
        &:not(.#{$nb-namespace}c-table--sorted) .#{$nb-namespace}c-table__header {
          @include nb-visually-hidden;
        }

        .#{$nb-namespace}c-table__header {
          padding-left: $nb-table-spacing;
        }

        .#{$nb-namespace}c-table__header-cell--sortable {
          display: inline-block;
        }

        .#{$nb-namespace}c-table__header-cell {
          border-left-width: 0;
        }

        .#{$nb-namespace}c-table__cell {
          border-left-width: 0;
        }

        &:not(.#{$nb-namespace}c-table--no-labels) .#{$nb-namespace}c-table__cell {
          margin-right: $nb-table-spacing;
          padding-left: $nb-table-collapsed-label-width;
          padding-right: 0;
          vertical-align: top;
        }

        &:not(.#{$nb-namespace}c-table--no-labels) .#{$nb-namespace}c-table__cell[data-label]::before {
          display: block;
          width: calc(#{$nb-table-collapsed-label-width} - #{$nb-table-spacing});
          float: left;
          margin-left: calc(-#{$nb-table-collapsed-label-width} + #{$nb-table-spacing});
          overflow: hidden;
          text-overflow: ellipsis;
          content: attr(data-label);

          @include nb-font-size('xxs');
        }
      }

      .#{$nb-namespace}c-table--sorted.#{$nb-namespace}c-table--stack\@max-#{$key} {
        .#{$nb-namespace}c-table__header {
          padding-top: $nb-table-spacing;
          padding-left: 0;

          @include nb-respond-to('max-xs') {
            padding-top: 0;
          }
        }

        .#{$nb-namespace}c-table__header::before {
          display: table-cell;
          padding: $nb-table-spacing;
          white-space: nowrap;
          content: attr(aria-label);

          @include nb-font-size('xxs');

          @include nb-respond-to('max-xs') {
            display: block;
          }
        }

        .#{$nb-namespace}c-table__header-row {
          display: table-cell;
          padding: 0;
          border-top-width: 0;
          vertical-align: top;

          @include nb-respond-to('max-xs') {
            display: inline-block;
            padding-left: $nb-table-spacing;
          }
        }

        .#{$nb-namespace}c-table__header-row:last-child {
          padding-right: $nb-table-spacing;
        }

        .#{$nb-namespace}c-table__header-cell {
          padding: 0 $nb-table-spacing $nb-table-spacing 0;
        }

        .#{$nb-namespace}c-table__sort-button {
          padding: $nb-table-spacing (($nb-table-spacing * 2) * 0.75);
          background: $nb-color-grey-v-light;
        }
      }
    }
  }
}
