@if $nb-use-tab {
  .#{$nb-namespace}c-tabs {
    background-color: $nb-tabs-background;
  }

  .#{$nb-namespace}c-tab {
    padding: $nb-tab-padding;
    color: $nb-tab-color;
    background-color: $nb-tab-background;

    &:focus {
      outline: none;
    }
  }

  .#{$nb-namespace}c-tab[disabled] {
    cursor: not-allowed;
    background-color: $nb-tab-background-disabled;
  }

  .#{$nb-namespace}c-tab.is-active {
    color: $nb-tab-color-active;
    background-color: $nb-tab-background-active;
    border-top: $nb-tab-border-top-active;
  }

  .#{$nb-namespace}c-tab__panel {
    padding: $nb-tab-padding;
  }
}
