@mixin nb-base-font-size {
  @each $key, $value in map-get($nb-font-sizes, $nb-font-size-base) {
    @if $key == 'default' {
      font-size: $value;
      line-height: map-get($nb-line-heights, $nb-font-size-base);
    }

    @else {
      @include nb-respond-to($key) {
        font-size: $value;
      }
    }
  }
}
