@mixin nb-triangle(
  $direction,
  $color: $nb-color-white,
  $transform: rotate(-45deg),
  $size: $nb-spacing-unit-half,
  $position: -0.35rem) {
  content: '';
  display: block;
  position: absolute;
  transform: #{$transform};
  border-width: $size;
  border-style: solid;
  @if ($direction == up) {
    box-shadow: 1px -1px $nb-color-base-border;
    border-color: $color $color transparent transparent;
    top: #{$position};
    left: $nb-spacing-unit;
  }
  @else if ($direction == down) {
    box-shadow: -1px 1px 0 $nb-color-base-border;
    border-color: transparent transparent $color $color;
    bottom: #{$position};
    left: $nb-spacing-unit;
  }
  @else if ($direction == left) {
    box-shadow: 1px -1px 0 $nb-color-base-border;
    border-color: $color $color transparent transparent;
    top: #{$position};
    right: $nb-spacing-unit;
  }
  @else if ($direction == right) {
    box-shadow: -1px 1px 0 $nb-color-base-border;
    border-color: transparent transparent $color $color;
    bottom: #{$position};
    right: $nb-spacing-unit;
  }
}


