$nb-button-border-radius: $nb-border-radius !default;
$nb-button-sm-horizontal-padding: $nb-spacing-unit !default;
$nb-button-sm-padding: $nb-spacing-unit-half $nb-button-sm-horizontal-padding !default;
$nb-button-md-horizontal-padding: $nb-spacing-unit-double !default;
$nb-button-md-padding: $nb-spacing-unit $nb-button-md-horizontal-padding !default;
$nb-button-lg-horizontal-padding: ($nb-spacing-unit-double * 1.5) !default;
$nb-button-lg-padding: ($nb-spacing-unit * 1.5) $nb-button-lg-horizontal-padding !default;
$nb-button-alpha-color: $nb-color-alpha !default;
$nb-button-beta-color: $nb-color-beta !default;
$nb-button-font-family: $nb-font-family-alpha !default;
