// BASE
$nb-card-background: $nb-color-white !default;
$nb-card-padding: $nb-spacing-unit !default;
$nb-card-box-shadow-color: $nb-color-black !default;
$nb-card-box-shadow-alpha: 0.15 !default;

// STATUS
$nb-card-status-border-width: ($nb-spacing-unit / 2) !default;
$nb-card-status-border-style: solid !default;
$nb-card-status-border-color: $nb-color-alpha !default;
$nb-card-status-color-success: $nb-color-success !default;
$nb-card-status-color-info: $nb-color-info !default;
$nb-card-status-color-warning: $nb-color-warning !default;
$nb-card-status-color-error: $nb-color-error!default;
