$nb-card-height-img: 180px !default;
$nb-card-border-width: ($nb-spacing-unit / 2) !default;
$nb-card-background: $nb-color-white !default;
$nb-card-color-primary: $nb-color-alpha !default;
$nb-card-color-success: $nb-color-success !default;
$nb-card-color-info: $nb-color-info !default;
$nb-card-color-warning: $nb-color-warning !default;
$nb-card-color-danger: $nb-color-danger !default;
$nb-card-padding: $nb-spacing-unit !default;
