$nb-flyout-padding: $nb-spacing-unit !default;
$nb-flyout-box-shadow: 1px 0 5px rgba($nb-color-black, 0.15) !default;

$nb-flyout-triangle-color: $nb-color-white !default;
$nb-flyout-triangle-size: 0.5rem !default;
$nb-flyout-triangle-positioning: $nb-spacing-unit !default;
