$nb-form-input-icon-size: 20px !default;
$nb-form-input-highlight-color: $nb-color-alpha !default;
$nb-form-input-font-weight: normal !default;
$nb-form-input-font-family: $nb-font-family-beta !default;
