$nb-navbar-background-color: $nb-color-white !default;
$nb-navbar-collapsed-width: 300px !default;
$nb-navbar-height: 60px !default;
$nb-navbar-height-collapsed: 50px !default;
$nb-navbar-item-spacing: $nb-spacing-unit !default;
$nb-navbar-toggle-background: $nb-color-white !default;
$nb-navbar-toggle-color: $nb-color-black !default;
