$nb-pill-background: $nb-color-white !default;
$nb-pill-border-radius: $nb-spacing-unit !default;
$nb-pill-transition: background-color $nb-transition-duration ease !default;

$nb-pill-active-border-width: ($nb-spacing-unit / 6) !default;
$nb-pill-border-active: $nb-pill-active-border-width solid $nb-active-border-color !default;

$nb-pill-color-disabled: $nb-color-grey !default;
$nb-pill-background-disabled: $nb-color-grey-v-light !default;

$nb-pill-sm-padding: $nb-spacing-unit-half $nb-spacing-unit !default;
$nb-pill-md-padding: $nb-spacing-unit-half $nb-spacing-unit-double !default;
$nb-pill-lg-padding: $nb-spacing-unit-half ($nb-spacing-unit-double + $nb-spacing-unit) !default;

$nb-pill-color-alpha: $nb-color-alpha !default;
$nb-pill-color-beta: $nb-color-beta !default;
