$nb-tabs-background: $nb-color-grey-v-light !default;

$nb-tab-color: $nb-color-grey !default;
$nb-tab-background: $nb-color-white !default;

$nb-tab-color-disabled: $nb-color-grey !default;
$nb-tab-background-disabled: $nb-color-grey-light !default;

$nb-tab-color-active: $nb-color-base-text !default;
$nb-tab-background-active: $nb-color-white !default;
$nb-tab-border-top-active: 5px solid $nb-color-alpha !default;

$nb-tab-padding: $nb-spacing-unit !default;
$nb-tab-padding-half: ($nb-spacing-unit / 2) !default;
$nb-tab-padding-lg: ($nb-spacing-unit * 2) !default;
