$nb-font-keys: (xxl, xl, lg, md, sm, xs, xxs) !default;

$nb-font-sizes-pixels: (
  xxl: (
    default: 28px,
    xs: 30px,
    sm: 34px,
    lg: 38px
  ),
  xl: (
    default: 24px,
    xs: 26px,
    sm: 26px,
    lg: 28px
  ),
  lg: (
    default: 21px,
    xs: 22px,
    sm: 23px,
    lg: 24px
  ),
  md: (
    default: 19px,
    xs: 20px,
    sm: 21px,
    lg: 22px
  ),
  sm: (
    default: 18px,
    xs: 19px,
    sm: 19px,
    lg: 20px
  ),
  xs: (
    default: 16px,
    xs: 17px,
    sm: 17px,
    lg: 18px
  ),
  xxs: (
    default: 14px,
    xs: 15px,
    sm: 15px,
    lg: 16px
  )
) !default;

$nb-line-heights: (
  xxl: 1.2,
  xl: 1.25,
  lg: 1.3,
  md: 1.35,
  sm: 1.45,
  xs: 1.5,
  xxs: 1.5
);

$nb-font-sizes: nb-px-to-rem-font-sizes($nb-font-sizes-pixels) !default;

$nb-font-size-base: 'xs' !default;
